spring:
  session:
    store-type: none  # Disable session persistence for now
  
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
      
  sql:
    init:
      mode: never

logging:
  level:
    "[com.warehouse]": INFO
    "[org.springframework.security]": WARN
    "[org.hibernate]": WARN
    "[com.zaxxer.hikari]": INFO
