spring:
  datasource:
    url: "jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
    username: "${DB_USER}"
    password: "${DB_PASSWORD}"
    driver-class-name: "com.mysql.cj.jdbc.Driver"

    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  session:
    store-type: none

logging:
  level:
    "[com.warehouse]": INFO
    "[org.springframework.security]": WARN
    "[org.hibernate]": WARN
    "[com.zaxxer.hikari]": INFO
