spring:
  datasource:
    hikari:
      connection-test-query: SELECT 1
      leak-detection-threshold: 60000
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  
  sql:
    init:
      mode: never

logging:
  level:
    "[com.warehouse]": INFO
    "[org.springframework.security]": WARN
    "[org.hibernate]": WARN
