spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
      
  sql:
    init:
      mode: never

  session:
    jdbc:
      initialize-schema: never
    store-type: jdbc

logging:
  level:
    "[com.warehouse]": INFO
    "[org.springframework.security]": WARN
    "[org.hibernate]": WARN
    "[com.zaxxer.hikari]": INFO
